.section {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-top: var(--navbar-height); */
  box-shadow: 0px 3px 9.5px 0.5px rgba(77, 55, 55, 0.5);
}

.category-name {
  font-family: Lobster-Regular;
  font-size: 90px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 9.05px;
  color: #951207;
  height: 100px;
  line-height: 1;
  /* background-color: lightblue; */
  margin: 73px auto 0;
}

.hot-content {
  position: relative;
  width: 500px;
  height: fit-content;
  background-color: unset;
}

.connect-flex-box {
  position: relative;
  background-color: unset;
  width: 403px;
  height: 317px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

}

.connect-container {
  position: relative;
  display: flex;
  /* width: 794px; */
  /* flex-direction: row; */
  flex-direction: column;
  cursor: pointer;
  /* background-color: whitesmoke; */
  background-color: unset;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.connect-container::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(assets/img/category/more_button.png);
  width: 177px;
  height: 56px;
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0 0 0/0.5));
}

.connect-image {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 403px;
  height: 257px;
  background-size: contain;
  overflow: hidden;
  border-radius: 8px;
  justify-content: center;
  filter: drop-shadow(8px 9px 11px 0px rgb(0 0 0 / 0.5));
}

.connect-image>img {
  width: inherit;
  height: inherit;
}

.connect-title {
  white-space: nowrap;
  overflow: hidden;
  max-width: -webkit-fill-available;
  text-overflow: ellipsis;
  color: var(--theme-text);
  letter-spacing: 2px;
  font-size: 20px;
  width: -moz-available;
  text-align: center;
}



.content-section {
  position: relative;
  margin: 34px 0 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 80px;
  /* box-shadow: 0 1px 11px rgba(0, 0, 0, 0.25); */
}

.title-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
  width: fit-content;
  gap: 49px;
  max-width: fit-content;
  height: fit-content;
  align-items: center;
}

.title-mainImage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 178px;
  height: 146px;
  background-image: url('./../../assets/img/hot_image.png');
  box-shadow: 8px 9px 11px 0px rgb(0 0 0 / 25%);
}

.title-mainImage::after {
  content: '';
  position: relative;
  top: 0;
  left: 204px;
  width: 2px;
  height: 159px;
  background-image: url('./../../assets/img/hot_line.png');
}

/* 
.title-wrapper {
} */

.title {
  text-align: left;
  text-overflow: ellipsis;
  max-height: 146px;
  width: 267px;
  /* font-size: var(--theme-font-md); */
  color: var(--theme-gold);
  overflow: hidden;
  line-height: 1.3;
}

.trend-tags-flex-tags {
  white-space: nowrap;
  line-height: 1;
  color: var(--theme-red);
  cursor: pointer;
  text-transform: uppercase;
  font-size: var(--theme-font-3s);
}

@media screen and (max-width: 1550px) {
  .content-page {
    flex-direction: column;
    gap: 100px;
  }

  .connect-flex-site {
    width: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  .main-title {
    padding-left: 0;
  }

  .main-title-decoration {
    display: none;
  }

}

@media screen and (max-width: 1400px) {
  .main-title {
    padding-left: 0;
    text-align: center;
  }

  .main-content {
    /* width: 980px; */
  }
}

@media screen and (max-width: 992px) {
  .main-title {
    width: 720px;
    text-align: center;
  }

  .main-content {
    width: 100%;
  }

  .connect-container {
    flex-direction: column;
    max-width: 794px;
    width: fit-content;
    align-items: center;
    gap: 20px;
  }

  .connect-flex-site {
    width: min-content;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
  }

  .content-btn {
    width: 50vw;
  }

  .btn {
    width: 15vw;
  }

  .section {
    max-width: 80vw;
    margin: 0 auto;
  }

  .left-content {
    max-width: 80vw;
  }

  .title-view {
    width: 100%;
  }

  .main-title {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {

  .content-page {
    gap: 10vw;
  }

  .main-content {
    margin-bottom: 5vw;
  }

  .connect-container {
    width: 70vw;
  }

  .main-title {
    width: 100%;
  }

  .main-content {
    width: 100%;
    /* margin: 0 auto; */
  }

  .content-tags {
    max-width: 100%;
    margin-bottom: 5vw;
  }

  .connect-flex-site {
    gap: 10vw;
  }

  .connect-flex-box {
    width: 50vw;
    height: 50vw;
  }

  .connect-image {
    height: 41vw;
  }
}

@media screen and (max-width: 576px) {
  .main-title {
    width: 100%;
    text-align: center;
  }

  .main-content {
    width: 100%;
  }
}