.index-footer {
  position: relative;
  background-color: var(--theme-color);
  height: 606px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  align-items: center;
  background-image: url(/src/assets/img/footer/background.png);
  margin-top: 60px;
  z-index: 0;
}

.index-footer .footer-article {
  max-width: 1000px;
  margin-bottom: 50px;
}

.custom-footer {
  position: relative;
  background-color: var(--theme-color);
  height: 606px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  z-index: 0;
}
.custom-footer.category,
.custom-footer.not-index {
  margin-top: 83px;
  background-image: url(assets/img/footer/background.png);
}


.custom-footer::before {
  content: "";
  position: absolute;
  bottom: 137px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(/src/assets/img/footer/flower.png);
  height: 944px;
  width: 944px;
  display: block;
  z-index: -1;
}

.custom-footer.category::before {
  display: none;
}

.footer-header {
  font-family: Lobster-Regular;
  font-size: 90.5px;
  letter-spacing: 9.05px;
}

.footer-body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-img {
  width: 573px;
  height: 366px;
  background-image: url(assets/img/footer/image_5.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-article {
  white-space: pre-wrap;
  font-size: 22px;
  letter-spacing: 2.2px;
  max-width: 545px;
  text-align: justify;
  line-height: 1.4;
  z-index: 1;
}

.copyright {
  position: relative;
  padding: 30px 0 41px;
  text-align: center;
  font-family: NotoSans-Regular;
  color: var(--theme-red);
  /* font-size: var(--theme-font-4s); */
  /* height: 20px; */
  font-size: 30px;
  letter-spacing: 6px;
  background-color: white;
  height: 111px;
}

@media screen and (max-width: 1550px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {}