.content-btn {
    position: relative;
    margin: 0 auto;
    background-color: unset;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    font-family: NotoSans-Regular;
  }
  
  .content-btn:has(:only-child){
    justify-content: center;
  }
  
  