.index-paragraph-wrapper {
    position: relative;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 1100px;
    height: fit-content;
    align-items: center;
    /* background-color: lightgrey; */
    margin: 0 auto;
}

.index-type-image {
    width: 572px;
    height: 366px;
}

.index-type-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 570px;
}

.index-type-title {
    font-family: Lobster-Regular;
    font-size: 90.5px;
    color: var(--theme-gold);
    text-align: center;
    line-height: 1;
}

.index-type-article {
    width: 489px;
    height: 261px;
    font-family: NotoSans-Regular;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 2px;
    color: var(--theme-text);
}

.index-more-btn {
    position: relative;
    width: 172px;
    height: 56px;
    background-image: url(/src/assets/img/index/more.png);
    background-size: contain;
    background-repeat: no-repeat;
}