.navbar {
  padding: 0;
  margin: 0;
  min-height: unset;
  position: relative;
  padding: 50px 390px 35px;
  background-color: var(--theme-color);
  box-shadow: unset;
  max-height: var(--navbar-height);
  z-index: 9999;
}

.navbar ul {
  height: 30px;
}


/* *:has(>.container) {
  margin: 0;
  padding: 0;
} */

.container {
  max-width: 1920px;
  display: flex;
  flex-direction: row;
  padding: 51px 389px 20px 392px;
  justify-content: space-between;
  align-items: flex-end;
}


.nav-btn-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 28px;

}

.nav-btn-wrapper * p {
  display: none;
}


@media screen and (min-width: 1200px) {
  .container {
    max-width: 1920px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1920px;
  }
}

@media screen and (max-width: 992px) {
  .nav-btn-wrapper {
    margin-right: 25px;
  }
}