.navbar {
  padding: 0;
  margin: 0;
  min-height: unset;
  width: 100%;
  position: relative;
  padding: 50px 390px 35px;
  background-color: var(--theme-color);
  box-shadow: unset;
  max-height: var(--navbar-height);
  z-index: 9999;
  position: fixed !important;
}

.navbar ul {
  height: 30px;
}

.container {
  max-width: 1920px;
  display: flex;
  flex-direction: row;
  padding: 51px 389px 20px 392px;
  justify-content: space-between;
  align-items: flex-end;
}


.nav-btn-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 28px;

}

@media screen and (max-width: 400px) {

  .navbar {
    padding: unset;
    height: 8rem;
    padding-top: 2rem;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
  }

  .navbar ul{
    height: 120vw;
    width: 60vw;
  }
  .container {
    padding: unset;
  }

  .nav-btn-wrapper {
    position: absolute;
    flex-direction: column;
    right: -60vw;
    top: 8rem;
    background-color: var(--theme-red);
    align-items: center;
    justify-content: space-evenly;
    gap: unset;
  }

  .nav-btn-wrapper li:last-child>a::after {
    display: none;
  }

  .nav-btn-wrapper.active {
    right: 0 !important;
  }

}